h5
{
    text-transform: capitalize;
}

.conversation-window
{
    width: 70%;
    height: 100vh; 
    overflow-y: auto;
}

.message-box
{
    min-width: 100px;
}

.conversation-container
{
    height: 100vh;
    overflow-y: auto;
}

.conversation-list-item
{
    height: 200px;
    cursor: pointer;
}

.conversation-list-item p
{
    width: 70%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}