h5
{
    /*text-transform: capitalize; email adresses look better without capitals and helps testing*/
}

.conversation-window
{
    width: 70%;
    height: calc(100vh - 46px); 
    /*should be - 44px which is height of the top elements, but 2 extra pixels come from somewhere*/
    padding: 0px 0px 0px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message-box
{
    min-width: 100px;
}

.conversation-container
{
    height: calc(100vh - 46px);
    padding: 0px 0px 0px;
    overflow-y: auto;
}

.conversation-list-item
{
    height: 120px;
    cursor: pointer;
}

.conversation-list-item p
{
    width: 70%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.messages-container
{
    position: sticky;
    bottom: 0;
    flex: 1;
}

.google-sign
{
    float: left; /* don't be alone at the top */
    padding: 0px 0px 0px;
}

.logout-button
{
    height: 44px;
    float: right;
    padding: 0px 0px 0px;
}

.username
{
    font-size: 32px;
    padding: 0px 0px 0px;
}

.no-scroll 
{
    overflow:hidden; /* used for main body */
}