
.page-content
{
    position: fixed;
    top: calc( 0 + var(--navbar-height) - 9px);
    left: 0;
    height: calc( 100vh - var(--navbar-height) + 9px );
    width: 100vw;
    display: flex;
}

.username
{
    font-size: 32px;
    padding: 0px 0px 0px;
}