:root {
  --navbar-height: 67px;
  --sidenav-width: 250px;
  --date-time-width: 70px;
}


.page-content
{
    position: fixed;
    top: calc( 0 + var(--navbar-height));
    left: 0;
    height: calc( 100vh - var(--navbar-height) + 11px );
    width: 100vw;
    display: flex;
}


.username
{
    font-size: 32px;
    padding: 0px 0px 0px;
}