h5
{
    text-transform: capitalize;
}

.scrollable-container {
    width: 100%; 
    height: 60vh; 
    overflow-y: auto;
}

.list-style {
    list-style-type: none;
    padding:0px;
    margin:0px;
}