:root {
    --navbar-height: 67px;
}

.topnav
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: var(--navbar-height)
}

/* Google Authentication */
.google-container
{
    /* Center (vertically) the button */
    display: flex;
    align-items: center;
    
    float: left;
    height: var(--navbar-height);
    padding: 5px;
}