:root {
    --navbar-height: 67px;
}

.topnav
{
    height: var(--navbar-height)
}

/* Google Authentication */
.google-container
{
    /* Center (vertically) the button */
    display: flex;
    align-items: center;
    
    float: left;
    height: var(--navbar-height);
    padding: 5px;
}

.username
{
    max-width: calc(100% - 150px); /* don't force the button onto a new line */
    font-size: 22px !important;
}